// portfolio.component.scss
@use "../../../styles/globals" as *;
@use "../../../styles/gradients/global_gradient_placeholders" as *;


portfolio {
    .portfolio-assets {
        background-color: $off-white;
        @extend %softer-border-radius;
        padding: $one-percent;
        width: $seventy-percent;
        margin: $one-percent 0;
        hr {
            border: $very-thin-border $charcoal solid;
            width: 95%;
        }
    }
}