// portfolio.component.scss
@use "../../../styles/globals" as *;
@use "../../../styles/gradients/global_gradient_placeholders" as *;


portfolio {
    hr {
        border: $very-thin-border $charcoal solid;
        width: 95%;
    }
}