server:
  port: 18080

spring:
  datasource:
    url: jdbc:h2:mem:docs;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driverClassName: org.h2.Driver
    username: sa
    password: ""
    hikari:
      connection-init-sql: ""
  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.H2Dialect
  sql:
    init:
      mode: never
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.liquibase.LiquibaseAutoConfiguration
      - org.springframework.boot.autoconfigure.flyway.FlywayAutoConfiguration
  main:
    lazy-initialization: true
  task:
    scheduling:
      enabled: false

cryptotrader:
  loadCurrencies: false
