//=================================-Imports-==================================
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

nav-bar-item {
    @include flex(center, center, row);
    box-sizing: border-box;
    position: relative;
    @include flex(center, center, row);
    border-radius: simplest-calc(1);
    transition: background-color, box-shadow, border, transform, 0.3s;
    padding: simplest-calc(0.25) simplest-calc(1);
    h5 {
        font-size: calc($h5-font-size * 0.85);
    }
    &:hover {
        background-color: $almost-white;
        $box-shadow-size: simplest-calc(0.35);
        box-shadow: $blue-grey $box-shadow-size $box-shadow-size 0 0;
        cursor: pointer;
        border: $muted-blue simple-calc(0.1, 0.05) solid;
    }

    &:active {
        background-color: $almost-white;
        box-shadow: none;
        $top-and-right: simplest-calc(0.35);
        transform: translate($top-and-right, $top-and-right);
    }
}