// arrow.component.scss
@use "../../../styles/globals" as *;

arrow {
    @include flex(center, center, column);
    @extend %soft-border-radius;
    padding: $quarter-percent;
    margin: 0 $one-percent;
    @include square-size($three-percent);
    mat-icon {
        margin: $quarter-percent 0;
        font-size: $five-percent;
        transform: translateX(5px);
    }
    &.arrow-up {
        mat-icon {
            transform: rotate(90deg);
        }
    }

    &.arrow-down {
        mat-icon {
            transform: rotate(-90deg);
        }
    }

    &.arrow-right {
        mat-icon {
            transform: rotate(180deg) translateX(5px);
        }
    }
}