/.ai/
/**/.angular/
/.gradle/
/**/.idea/
**/*.iml
/.run
/node_modules/
**/node_modules/
/target/
**/target/
tink/
**/logs/
/Crypto-Trader-Docs/docs/
/Crypto-Trader-Api/src/main/resources/ssl/keystore.p12
/Crypto-Trader.iml
/crpto-trader.iml
/CryptoTraderAnalysis/.idea/

/Crypto-Trader-Admin/**/*.css
/Crypto-Trader-Admin/**/*.css.map

/build/
**/*.component.js
**/*.service.js
**/*.guard.js
**/*.spec.js
**/*.component.js.map
**/*.component.css
**/*.component.css.map

**/*.js

**/__pycache__/
/**/*.keras