/.ai/
/**/.angular/
/.gradle/
/**/.idea/
**/*.iml
/.run
/node_modules/
**/node_modules/
/target/
**/target/
tink/
**/logs/
/Crypto-Trader-Docs/docs/**
/Crypto-Trader-Docs/site/**
/Crypto-Trader-Api/src/main/resources/ssl/keystore.p12
/Crypto-Trader.iml
/crpto-trader.iml
/CryptoTraderAnalysis/.idea/

/Crypto-Trader-Admin/**/*.css
/Crypto-Trader-Admin/**/*.css.map

/build/
**/*.component.js
**/*.service.js
**/*.guard.js
**/*.spec.js
**/*.component.js.map
**/*.component.css
**/*.component.css.map

**/*.js
!eslint.config.js
!prettier.config.js
!stylelint.config.js

**/__pycache__/
/**/*.keras

/Crypto-Trader-Website/dist/**
/Crypto-Trader-Website/docs/**
/Crypto-Trader-Website/node_modules/**

/.aiassistant/**
/.junie/**
