/.ai/
/.idea/
/node_modules/
/target/
/CryptoTraderAnalysis/Environment/
/Crypto-Trader.iml
/crpto-trader.iml
/CryptoTraderAnalysis/.idea/
/*.iml
/.run
/Crypto-Trader-Api/src/main/resources/ssl/keystore.p12
