<!-- display-currency.component.html -->
<ng-container>
    <div class="display-action-div">
        <div class="image-code-div">
            <ss-img [imageAsset]="imageAsset"/>
            <ss-title [tagType]="TagType.H4" [text]="currency.currencyCode"/>
        </div>
        <div class="display-currency-title">
            <ss-title class="display-currency-name"
                      [tagType]="TagType.H3"
                      [text]="currency.currencyName"/>
            <div class="currency-price-div">
                <subtitle [tagType]="TagType.H4" [text]="currencyPrice" class="currency-price"/>
                <performance-arrow [performance]="performance" [includePercent]="true"/>
            </div>
            <div class="currency-action-buttons-div">
<!--                TODO: On click should open the trade page loaded in paper
                          mode with the currency selected using request
                          params.-->
                <ss-button [text]="'TRADE'" [size]="ElementSize.SMALL"/>
            </div>
        </div>
    </div>

    <day-currency-chart [properties]="chartProperties"/>
</ng-container>