 // auth-console-tab-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

$simplest-one-percent: simplest-calc(1);
$simplest-quarter-percent: simplest-calc(0.25);

auth-console-tab {
    @include flex(center, center, row);
    border : {
        top: black $very-thin-border solid;
        left: black $very-thin-border solid;
        right: black $very-thin-border solid;
        radius: $simplest-one-percent $simplest-one-percent 0 0;
    }
    z-index: 3;
    background-color: $pure-white;
    box-shadow: $blue-gray $simplest-quarter-percent calc($simplest-quarter-percent * -1) 0 0;
    padding: $half-percent $simplest-one-percent $quarter-percent $simplest-one-percent;
    width: simple-calc(6, 1.75);
    text-align: center;
    transition: box-shadow, margin-top, margin-left, padding-bottom, 0.3s;
    $margin-padding-box-shadow: simplest-calc(0.35);
    &:hover {
        cursor: pointer;
        box-shadow: $blue-gray $margin-padding-box-shadow calc($margin-padding-box-shadow * -1) 0 0;
    }
    &:active {
        box-shadow: none;
        margin : {
            top: calc($margin-padding-box-shadow * -1);
            left: $margin-padding-box-shadow;
        }
        padding-bottom: calc($margin-padding-box-shadow + $quarter-percent);
    }
}
