// portfolio-assets-report.component.scss
@use "../../../../styles/globals" as *;
@use "../../../../styles/gradients/global_gradient_placeholders" as *;

portfolio-assets-report {
    background-color: $off-white;
    @extend %softer-border-radius;
    padding: $one-percent;
    width: $fifty-percent;
    margin: $one-percent 0;
    hr {
        border: $very-thin-border $charcoal solid;
        width: 95%;
    }
    .report-title {
        @extend %signature-brand-gradient-text-small-reflection;
    }
}