 // auth-input-style.component.scss
@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";

auth-input {
    @include flex(center, center, row);
    width: 100%;
    margin: $one-percent 0;
    @extend %soft-border-radius;
    .auth-input-title-div {
        flex: 1;
        h5 {
           font-size: calc($h5-font-size * 0.9);
        }
    }
    ss-input {
        flex: 1;
    }
}
