<!-- trade-checkout-details.component.html -->
<ng-container>
    <div class="checkout-input">
        <buy-type-selector (buyTypeSelectedEvent)="setBuyType($event)"/>
        <ss-input [placeholder]="getPlaceholderText()"
                  [inputType]="InputType.NUMBER"
                  (inputEvent)="setFromInput($event)"/>
    </div>
    <div class="checkout-results">
        <div class="you-pay-div result-div">
            <ss-title [tagType]="TagType.H5" [text]="'You Pay: '"/>
            <ss-title [tagType]="TagType.H5" [text]="youPayText"/>
        </div>
        <div class="you-get-div result-div">
            <ss-title [tagType]="TagType.H5" [text]="'You Get: '"/>
            <ss-title [tagType]="TagType.H5" [text]="youGetText"/>
        </div>
        @if (hasVendorFee()) {
            <div class="fee-div result-div">
                <ss-title [tagType]="TagType.H5" [text]="'Vendor Fee: '"/>
                <ss-title [tagType]="TagType.H5" [text]="getVendorFee()"/>
            </div>
        }
    </div>
    <ss-button [text]="'Checkout'" [size]="ElementSize.MEDIUM" (buttonClick)="attemptCheckout()"/>
</ng-container>