// popup.component.scss
@use "../../../styles/globals" as *;


popup {
    ss-title {
        background-color: $light-charcoal;
        @extend %soft-border-radius;
        padding: $half-percent $one-percent;
        color: $pure-white;
    }
}
