@use "./global_gradient_variables" as *;
@use "./global_gradient_mixins" as *;
@use "../globals" as *;


%light-logo-gradient {
    background-image: $light-logo;
}

%light-logo-gradient-text {
    background: $light-logo-webkit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px add-alpha(black, 0.1);
}

%regular-logo-gradient {
    background-image: $regular-logo;
}

%regular-logo-gradient-text {
    background: $regular-logo-webkit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px add-alpha(black, 0.1);
}

%signature-brand-gradient-text {
    @include gradient-text($regular-logo);
    text-shadow: add-alpha(black, 0.1) $quarter-percent $quarter-percent;
}

%signature-brand-gradient-text-small-reflection {
    @include gradient-text($regular-logo);
    $shadow-offset: calc(#{$quarter-percent} / 2);
    text-shadow: add-alpha(black, 0.1) $shadow-offset $shadow-offset;
}

%signature-brand-gradient-text-smallest-reflection {
    @include gradient-text($regular-logo);
    $shadow-offset: calc(#{$quarter-percent} / 4);
    text-shadow: add-alpha(black, 0.1) $shadow-offset $shadow-offset;
}