@use "global_gradient_variables" as *;

@mixin crypto-logo-linear-gradient($angle: 0deg) {
    background-image: linear-gradient($angle, $crypto-logo-stops...);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin crypto-logo-radial-gradient($shape: ellipse at center) {
    background-image: radial-gradient($shape, $crypto-logo-stops...);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin gradient-text($background) {
    background-image: $background;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}