@use '../globals' as globals;
@use 'sass:math';

$light-logo: radial-gradient(
    114.74% 114.74% at 96.86% 3.84%,
    #c0ecd7 0%,
    #6fc164 30%,
    #3eb98d 60%,
    #26929d 100%
);
$light-logo-webkit: -webkit-radial-gradient(
    114.74% 114.74% at 96.86% 3.84%,
    #c0ecd7 0%,
    #6fc164 30%,
    #3eb98d 60%,
    #26929d 100%
);
$regular-logo: radial-gradient(
    114.74% 114.74% at 96.86% 3.84%,
    #6fc164 0%,
    #3eb98d 40%,
    #26929d 75%,
    #045267 100%
);
$regular-logo-webkit: -webkit-radial-gradient(
    114.74% 114.74% at 96.86% 3.84%,
    #6fc164 0%,
    #3eb98d 40%,
    #26929d 75%,
    #045267 100%
);
$prominent-logo: radial-gradient(
    114.74% 114.74% at 96.86% 3.84%,
    #26929d 15%,
    globals.$lime 50%,
    #03404f 75%,
    #26929d 85%
);
$prominent-logo-webkit: -webkit-radial-gradient(
    114.74% 114.74% at 96.86% 3.84%,
    #c0ecd7 0%,
    #3eb98d 50%,
    #1fa4a7 75%,
    #03404f 100%
);
$crypto-logo-stops: (
    #6fc164 9.3%,
    #c0ecd7 16.1%,
    #a4dbc2 20.7%,
    #3c9e7a 31.4%,
    #3eb98d 45.4%,
    #1d5c57 56.8%,
    #076a64 62.1%,
    #26929d 81.8%,
    #073d44 86.8%,
    #13899d 91.1%,
    #07718d 94.6%,
    #045267 100%
);
