@use "global_gradient_variables" as vars;
@use "global_gradient_mixins" as mixins;
@use "../globals" as globals;


%light-logo-gradient {
    background-image: vars.$light-logo;
}

%light-logo-gradient-text {
    background: vars.$light-logo-webkit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px globals.add-alpha(black, 0.1);
}

%regular-logo-gradient {
    background-image: vars.$regular-logo;
}

%regular-logo-gradient-text {
    background: vars.$regular-logo-webkit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px globals.add-alpha(black, 0.1);
}

%signature-brand-gradient-text {
    @include mixins.gradient-text(vars.$regular-logo);
    text-shadow: globals.add-alpha(black, 0.1) globals.$quarter-percent globals.$quarter-percent;
}

%signature-brand-gradient-text-small-reflection {
    @include mixins.gradient-text(vars.$regular-logo);
    $shadow-offset: calc(#{globals.$quarter-percent} / 2);
    text-shadow: globals.add-alpha(black, 0.1) $shadow-offset $shadow-offset;
}

%signature-brand-gradient-text-smallest-reflection {
    @include mixins.gradient-text(vars.$regular-logo);
    $shadow-offset: calc(#{globals.$quarter-percent} / 4);
    text-shadow: globals.add-alpha(black, 0.1) $shadow-offset $shadow-offset;
}