//=================================-Imports-==================================
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";
@import "../../app/app-style.component";

#logout-button-div {
    display: none;
    justify-content: center;
    align-items: center;
    padding: calc(((0.35vh + 0.35vw) / 2) + 0.15em) calc(((.5vh + 0.5vw) / 2) + 0.25em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    position: absolute;
    margin-top: calc(((6vh + 6vw) / 2) + 2em);
    margin-right: calc(((0.5vh + 0.5vw) / 2) + 0.25em);

    transition: display, 0.3s;
    background-color: $muted-blue;
    color: $almost-white;
    &:hover {
        border: $thin-border solid $sunbeam-yellow;
    }
}

nav-bar {
    @include flex(center, center, column);
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: $almost-white;
    box-shadow: 0 0 simple-calc(1, 0.5) 0 $black-shadow;
    border-bottom: $very-thin-border solid $muted-blue-half-opacity;
    height: calc($four-half-percent * .95);
    nav {
        @include flex(center, center, row);
        @extend %fill-container;
        .nav-items-div {
            @include flex(space-between, center, row);
            width: 30%;
        }

    }
}