// home.component.scss
@use "../../../styles/globals" as *;

home {
    .intro-text-div {
        @include flex(space-around, center, row);
        ss-paragraph {
            width: 60%;
        }
        ss-anchor {
            box-shadow: $sunbeam-yellow simplest-calc(0.25) simplest-calc(0.25) 0 0;
        }
    }
    .intro-stripe {
        @include flex(space-around, center, row);
        .title-text-div {
            @include flex(center, center, column);
            width: 50%;
            padding: $one-percent 0;

            ss-title {
                //align-self: flex-start;
                //margin-right: $fifteen-percent;
                @extend %soft-text-shadow;
            }

            subtitle {
                //align-self: flex-end;
                //margin-left: $fifteen-percent;
                color: $alabaster-stone;
            }
        }
        ss-img {
            @include square-size($eight-percent);
        }
    }
}