// home.component.scss
@use "../../../styles/globals" as *;

home {
    .intro-text-div {
        @include flex(space-around, center, column);
        ss-paragraph {
            width: 60%;
            background-color: add-alpha($muted-blue, 0.015);
            margin: $half-percent;
        }
        ss-anchor {
            //box-shadow: $sunbeam-yellow simplest-calc(0.25) simplest-calc(0.25) 0 0;
            background-color: add-alpha($sunbeam-yellow, 0.5);
            max-height: $three-half-percent;
        }
    }
    .intro-stripe {
        @include flex(space-around, center, row);
        background-color: transparent;
        background-image: linear-gradient(to right, $muted-blue 50%, $blue-gray);
        .title-text-div {
            @include flex(center, center, column);
            //width: 50%;
            padding: $one-percent 0;
            ss-title {
                //align-self: flex-start;
                //margin-right: $fifteen-percent;
                @extend %soft-text-shadow;
            }

            subtitle {
                //align-self: flex-end;
                //margin-left: $fifteen-percent;
                color: $alabaster-stone;
            }
        }
        ss-img {
            @include square-size($eight-percent);
        }
    }

    .intro-text-div {
        .intro-paragraph {
            margin: $one-percent 0;
        }
    }
}