<!-- auth-input.component.html -->
<ng-container>
    @if (!isTermsInput()) {
        <div class="input-group">
            <label class="input-label">{{ getLabel() }}</label>
            <ss-input
                [placeholder]="getPlaceholder()"
                [inputType]="getInputType()"
                (inputEvent)="updateInputText($event)"
            />
        </div>
    } @else {
        <div class="terms-row">
            <ss-input
                [placeholder]="''"
                [inputType]="getInputType()"
                (inputEvent)="updateInputText($event)"
            />
            <span class="terms-text">
                I agree to the
                <a class="terms-link" href="/terms-of-service">Terms of Service</a>
            </span>
        </div>
    }
</ng-container>
