body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: calc(((6vh + 6vw) / 2) + 10px);
}
h2 {
    font-size: calc(((4vh + 4vw) / 2) + 8px);
}
h3 {
    font-size: calc(((3vh + 3vw) / 2) + 6px);
}
h4 {
    font-size: calc(((2vh + 2vw) / 2) + 4px);
}
h5 {
    font-size: calc(((1.5vh + 1.5vw) / 2) + 2px);
}
h6 {
    font-size: calc(((1.25vh + 1.25vw) / 2) + 2px);
}
p {
    font-size: calc(((1.1vh + 1.1vw) / 2) + 2px);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0 0 calc(((1vw + 1vh) / 2) + 0.5em) 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 1px solid rgba(64, 116, 168, 0.5);
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 0 0 calc(((4vh + 4vw) / 2) + 2em)
}
nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 calc(((1vh + 1vw) / 2) + 1em);

}
#default-avatar-image {
    width: calc(((4vh + 4vw) / 2) + 2em);
    height: calc(((4vh + 4vw) / 2) + 2em);
    border-radius: 50%;
}
#account-image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((0.15vh + 0.15vw) / 2) + 0.05em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
}