:root {
    /*--------------------------Color-Palette-------------------------------*/
    --pure-white: #ffffff;
    --almost-white: #f8f9fa;
    --air-blue: #d6e6f3;
    --ivory-white: #f4f0e0;
    --soft-gray: hsl(180, 10%, 74%);
    --muted-blue: rgba(64, 116, 168, 1);
    --muted-blue-half-opacity: rgba(64, 116, 168, 0.5);
    --morning-frost-blue: hsl(210, 45%, 70%);
    --blue-grey: #2c4557;
    --midnight-navy: #152f41;
    --sunbeam-yellow: #ffe17b;
    /*-------------------------Currency-Colors------------------------------*/
    --bitcoin-color: #F7931A;
    --ethereum-color: #6480EB;
    --litecoin-color: #375F9E;
    /*------------------------------Sizes-----------------------------------*/
    --thin-border: calc(((0.05vw + 0.05vh) / 2) + 0.05em);
    --small-border: calc(((0.1vw + 0.1vh) / 2) + 0.1em);
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: calc(((6vh + 6vw) / 2) + 10px);
    margin: 0;
    padding: 0;
}
h2 {
    font-size: calc(((4vh + 4vw) / 2) + 8px);
    margin: 0;
    padding: 0;
}
h3 {
    font-size: calc(((3vh + 3vw) / 2) + 6px);
    margin: 0;
    padding: 0;
}
h4 {
    font-size: calc(((2vh + 2vw) / 2) + 4px);
    margin: 0;
    padding: 0;
}
h5 {
    font-size: calc(((1.5vh + 1.5vw) / 2) + 2px);
    margin: 0;
    padding: 0;
}
h6 {
    font-size: calc(((1.25vh + 1.25vw) / 2) + 2px);
    margin: 0;
    padding: 0;
}
p {
    font-size: calc(((1.1vh + 1.1vw) / 2) + 2px);
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--almost-white);
    box-shadow: 0 0 calc(((1vw + 1vh) / 2) + 0.5em) 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid var(--muted-blue-half-opacity);
    height: calc(((4vh + 4vw) / 2) + 1.5em);
}
#nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 0 calc((((4vh + 4vw) / 2) + 2em) + (((0.5vh + 0.5vw) / 2) + 0.5em));
    /*margin: 0 0 0 calc(((4vh + 4vw) / 2) + 2em);*/
    /*margin: 0 calc(((10vh + 10vw) / 2) + 10em) 0 0;*/
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 calc(((1vh + 1vw) / 2) + 1em);
}
#default-avatar-image {
    width: calc(((3vh + 3vw) / 2) + 1.75em);
    height: calc(((3vh + 3vw) / 2) + 1.75em);
    margin-right: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    border-radius: 50%;
    border: var(--ivory-white) calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid;
    box-shadow: var(--soft-gray) calc(((0.05vh + 0.05vw) / 2) + 0.05em)
                                 calc(((0.05vh + 0.05vw) / 2) + 0.05em);
    transition: box-shadow, margin-left, margin-bottom, 0.3s;
}
#default-avatar-image:hover {
    box-shadow: var(--morning-frost-blue) calc(((0.15vh + 0.15vw) / 2) + 0.15em)
                                          calc(((0.15vh + 0.15vw) / 2) + 0.15em);
    cursor: pointer;
}
#default-avatar-image:active {
    box-shadow: none;
    margin-left: calc(((0.05vh + 0.05vw) / 2) + 0.05em);
    margin-bottom: calc((((0.15vh + 0.15vw) / 2) + 0.15em) * -1);
    margin-right: calc(((0.15vh + 0.15vw) / 2) + 0.15em);
}
#account-image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: calc(((0.15vh + 0.15vw) / 2) + 0.05em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
}
#account-image-container:hover #logout-button-div {
    cursor: pointer;
}
#logout-button-div:hover {
    border: var(--thin-border) solid var(--sunbeam-yellow);
}
#logout-button-div {
    display: none;
    justify-content: center;
    align-items: center;
    padding: calc(((0.35vh + 0.35vw) / 2) + 0.15em) calc(((.5vh + 0.5vw) / 2) + 0.25em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    position: absolute;
    margin-top: calc(((6vh + 6vw) / 2) + 2em);
    margin-right: calc(((0.5vh + 0.5vw) / 2) + 0.25em);

    transition: display, 0.3s;
    background-color: var(--muted-blue);
    color: var(--almost-white);
}
.nav-bar-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    transition: background-color, box-shadow, border, margin-top, margin-left, 0.3s;
    padding: calc(((0.25vh + 0.25vw) / 2) + 0.25em)
             calc(((1vh + 1vw) / 2) + 1em);
}
.nav-bar-item-container h5 {
    padding: 0;
    margin: 0;
}
.nav-bar-item-container:hover {
    background-color: var(--almost-white);
    box-shadow: var(--blue-grey) calc(((0.35vh + 0.35vw) / 2) + 0.35em)
                                 calc(((0.35vh + 0.35vw) / 2) + 0.35em) 0 0;
    cursor: pointer;
    border: var(--muted-blue) calc(((0.1vh + 0.1vw) / 2) + 0.05em) solid;
}
.nav-bar-item-container:active {
    background-color: var(--almost-white);
    box-shadow: none;
    margin-top: calc(((0.35vh + 0.35vw) / 2) + 0.35em);
    margin-left: calc(((0.35vh + 0.35vw) / 2) + 0.35em);
}
input {
    padding: calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    border-radius: calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    border: var(--muted-blue) calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid;
    box-shadow: var(--morning-frost-blue) 0 0 calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    transition: box-shadow, margin-left, margin-top, 0.3s;
}
input:hover {
    box-shadow: var(--morning-frost-blue) calc(((0.35vh + 0.35vw) / 2) + 0.35em)
                                          calc(((0.35vh + 0.35vw) / 2) + 0.35em);
    cursor: pointer;
}
input[type="checkbox"]:hover {
    box-shadow: var(--morning-frost-blue) calc(((0.2vh + 0.2vw) / 2) + 0.2em)
                                          calc(((0.2vh + 0.2vw) / 2) + 0.2em);
}
input[type="checkbox"]:active {
    box-shadow: var(--morning-frost-blue) 0 0 calc(((0.05vh + 0.05vw) / 2) + 0.05em);
}
input:active {
    transition: box-shadow, margin-left, margin-top, 0.15s;
    /*box-shadow: var(--morning-frost-blue) 0 0 calc(((0.25vh + 0.25vw) / 2) + 0.25em);*/
    box-shadow: none;
    margin-left: calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    margin-top: calc(((0.25vh + 0.25vw) / 2) + 0.25em);
}
.general-button {
    background-color: var(--sunbeam-yellow);
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.25em) 0;
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    width: calc(((20vh + 20vw) / 2) + 2em);
    height: calc(((4vh + 4vw) / 2) + 2em);
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--blue-grey) calc(((0.25vh + 0.25vw) / 2) + 0.25em) calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    transition: box-shadow, margin-left, margin-top, 0.3s;
}
.general-button:hover {
    box-shadow: var(--blue-grey) calc(((0.35vh + 0.35vw) / 2) + 0.35em) calc(((0.35vh + 0.35vw) / 2) + 0.35em);
    cursor: pointer;
}
.general-button:active {
    transition: box-shadow, margin-left, margin-top, 0.15s;
    box-shadow: var(--blue-grey) 0 0 calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    margin-left: calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    margin-top: calc(((0.25vh + 0.25vw) / 2) + 0.25em);
}
.general-button-inverted {
    background-color: var(--sunbeam-yellow);
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.25em) 0;
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    width: calc(((20vh + 20vw) / 2) + 2em);
    height: calc(((4vh + 4vw) / 2) + 2em);
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--blue-grey) calc(((0.25vh + 0.25vw) / 2) + 0.25em)
                                 calc((((0.25vh + 0.25vw) / 2) + 0.25em) * -1);
    transition: box-shadow, margin-left, margin-top, 0.3s;
}
.general-button-inverted:hover {
    box-shadow: var(--blue-grey) calc(((0.35vh + 0.35vw) / 2) + 0.35em)
                                 calc((((0.35vh + 0.35vw) / 2) + 0.35em) * -1);
    cursor: pointer;
}
.general-button-inverted:active {
    transition: box-shadow, margin-left, margin-top, margin-bottom, 0.15s;
    box-shadow: var(--blue-grey) 0 0 calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    margin-left: calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    margin-top: calc((((0.25vh + 0.25vw) / 2) + 0.25em) * -1);
}
.link-no-style {
    text-decoration: none;
    color: black;
}
.small-button {
    background-color: var(--sunbeam-yellow);
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.25em);
    border-radius: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    width: calc(((10vh + 10vw) / 2) + 1em);
    height: calc(((2vh + 2vw) / 2) + 1em);
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--blue-grey) calc(((0.15vh + 0.15vw) / 2) + 0.15em)
                                 calc(((0.15vh + 0.15vw) / 2) + 0.15em);
    transition: box-shadow, margin-left, margin-top, 0.3s;
    /*flex-basis: calc(((10vh + 10vw) / 2) + 1em);*/
}
.small-button-text {
    margin: 0;
    padding: 0;
    /*width: calc(((15vh + 15vw) / 2) + 5em);*/
}
.small-button:hover {
    box-shadow: var(--blue-grey) calc(((0.25vh + 0.25vw) / 2) + 0.25em)
                                 calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    cursor: pointer;
}
.small-button:active {
    transition: box-shadow, margin-left, margin-top, 0.15s;
    box-shadow: var(--blue-grey) 0 0 calc(((0.15vh + 0.15vw) / 2) + 0.15em);
    margin-left: calc(((0.15vh + 0.15vw) / 2) + 0.15em);
    margin-top: calc(((0.15vh + 0.15vw) / 2) + 0.15em);
}
.general-dropdown-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    box-shadow: var(--blue-grey) calc(((0.25vh + 0.25vw) / 2) + 0.25em)
                                 calc(((0.25vh + 0.25vw) / 2) + 0.25em) 0 0;
}
.dropdown-selection {
    border-radius: 0 0 calc(((0.5vh + 0.5vw) / 2) + 0.5em) calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    width: 100%;
    /*border-left: var(--muted-blue) calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid;*/
    /*border-right: var(--muted-blue) calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid;*/
    /*border-bottom: var(--muted-blue) calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid;*/
    background-color: var(--sunbeam-yellow);
}
.dropdown-item {
    background-color: var(--sunbeam-yellow);
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.25em);
    border-radius: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
}
.dropdown-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.25em);
    transition: background-color, box-shadow, 0.3s;
}
.dropdown-option img {
    border-radius: 50%;
    transition: box-shadow, 0.05s;
}
.dropdown-option:hover img {
    box-shadow: var(--blue-grey) 0 0 calc(((0.25vh + 0.25vw) / 2) + 0.25em);
}
.dropdown-option-text {
    margin: 0;
    padding: 0;
}
.dropdown-with-caret {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-caret {
    background-color: var(--sunbeam-yellow);
    margin: 0;
    padding: 0;
}
.dropdown-caret img {
    width:  calc(((2vh + 2vw) / 2) + 0.5em);
    height: calc(((2vh + 2vw) / 2) + 0.5em);
    margin: 0;
    padding: 0;
}
.subtitle-text {
    color: #152f41;
    font-style: italic;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.round-bottom {
    border-radius: 0 0 calc(((0.5vh + 0.5vw) / 2) + 0.5em)
                       calc(((0.5vh + 0.5vw) / 2) + 0.5em);
}
.square-bottom {
    border-radius: calc(((0.5vh + 0.5vw) / 2) + 0.5em)
                   calc(((0.5vh + 0.5vw) / 2) + 0.5em) 0 0;
}
.terms-agree-checkbox {
    margin: 0 calc(((0.5vh + 0.5vw) / 2) + 0.5em) 0 0;
}
.agree-terms-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.terms-agree-text {
    text-decoration: underline;
    margin: calc(((0.55vh + 0.55vw) / 2) + 0.55em) calc(((1vw + 1vh) / 2) + 1em) 0 0;
    height: calc(((2vh + 2vw) / 2) + 0.7em);
}
.popup-text {
    color: maroon;
}
.italic-span {
    font-style: italic;
}
.thin-text {
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.simple-space-inline-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}
.hidden {
    display: none;
}