#intro-stripe-section {
    background-color: var(--muted-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    left: 0;
    margin: calc(((1vh + 1vw) / 2) + 1em) 0 0 0;
}
#intro-stripe-section p {
    color: black;
    margin: calc(((1vh + 1vw) / 2) + 1em);
}
.stripe-div-partition {
    width: 50%;
    margin: calc(((0.8vh + 0.8vw) / 2) + 0.8em)
            calc(((1vh + 1vw) / 2) + 1em);
}
#title-and-motto-div {
    text-align: center;
}

#chart-container {
    width: 70vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 calc(((1vh + 1vw) / 2) + 1em);
    background-color: var(--almost-white);
}
#functionality-section {
    width: 100%;
}
#combined-functionality-and-text {
    /*margin: 0 calc(((1vh + 1vw) / 2) + 1em);*/

}
#functionalities-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((1vh + 1vw) / 2) + 1em) 0;
    margin: calc(((1vh + 1vw) / 2) + 1em) 0;
    background-color: black;
    box-shadow: var(--blue-grey) 0 0 calc(((1vh + 1vw) / 2) + 1em);
    
}
.functionality-text-container {
    background-color: var(--midnight-navy);
    padding: 0 calc(((1vh + 1vw) / 2) + 1em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    color: var(--almost-white);
}
#chart-explain-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((1vh + 1vw) / 2) + 1em) 0;
    margin: calc(((1vh + 1vw) / 2) + 1em) 0;
    background-color: var(--almost-white);
    box-shadow: var(--blue-grey) 0 0 calc(((1vh + 1vw) / 2) + 1em);
}
#chart-explain-div p {
     margin: calc(((1vh + 1vw) / 2) + 1em);
}
#intro-text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((1vh + 1vw) / 2) + 1em) 0;
    margin: calc(((1vh + 1vw) / 2) + 1em) 0;
    background-color: var(--morning-frost-blue);
    box-shadow: var(--blue-grey) 0 0 calc(((1vh + 1vw) / 2) + 1em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    flex-direction: column;
    height: calc(((20vh + 20vw) / 2) + 2em);
}
#motto-text {
    color: #152f41;
    font-style: italic;
}
#features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((1vh + 1vw) / 2) + 1em);
    margin: calc(((1vh + 1vw) / 2) + 1em) 0;
    background-color: var(--almost-white);
    border-top: calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid var(--blue-grey);
    border-bottom: calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid var(--blue-grey);
}
#premium-title-div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - ((1vh + 1vw) / 2) + 1em)
}
#premium-title-text-div {


}
#premium-title-text {
    font-style: italic;
}
.header-section-bubble {
    background-color: var(--morning-frost-blue);
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.5em) calc(((3vh + 3vw) / 2) + 3em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
}
.header-section-text {
    font-style: italic;
}
#features-combined-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((1vh + 1vw) / 2) + 1em) 0;
    margin: calc(((1vh + 1vw) / 2) + 1em) 0;
    background-color: var(--almost-white);
    width: 80%;
}

#integrations-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#integrations-div {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(((1vh + 1vw) / 2) + 1em);
    margin: calc(((1vh + 1vw) / 2) + 1em) 0;
    /*background-color: cadetblue;*/
    /*background-color: #296367;*/
    background-color: var(--air-blue);
    box-shadow: var(--almost-white) 0 0 calc(((1vh + 1vw) / 2) + 1em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
}
.supported-platform-image {
    width:  calc(((7vh + 7vw) / 2) + 3em);
    height: calc(((7vh + 7vw) / 2) + 3em);
    box-shadow: var(--blue-grey) 0 0 calc(((1vh + 1vw) / 2) + 1em);
    border-radius: 50%;
    margin: calc(((1vh + 1vw) / 2) + 1em);
}
#integrations-text {
    text-indent: calc(((1vh + 1vw) / 2) + 1em);
}
#feature-table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid black;
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    margin: 0 calc(((1vh + 1vw) / 2) + 1em);
}
.feature-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: calc(((0.75vh + 0.75vw) / 2) + 0.75em);
}
#feature-table-top-row {
    border-bottom: calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid black;
}
.feature-table-first-column {
    border-right: calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid black;
}
.feature-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(((8vh + 8vw) / 2) + 1em);
    height: calc(((4vh + 4vw) / 2) + 0.5em);
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
}
