main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;

}
#portfolio-builder-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#currency-dropdown {

}
#portfolio-builder-header {
    background-color: var(--muted-blue);
    padding: calc(((3.25vh + 3.25vw) / 2) + 0.15em) 0;
    margin: calc(((1vh + 1vw) / 2) + 0.5em) 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.currency-option-image {
    width: calc(((2vh + 2vw) / 2) + 1em);
    height: calc(((2vh + 2vw) / 2) + 1em);
    margin: 0;
    padding: 0;
}
#portfolio-builder-div {
    /*width: 50%;*/
}
#currency-dropdown-list {
    width: calc(((15vh + 15vw) / 2) + 1em);
}
#currency-dropdown h5 {
    margin: 0;
    padding: 0;
}
#bitcoin-option:hover {
    background-color: var(--bitcoin-color);
}
#ethereum-option:hover {
    background-color: var(--ethereum-color);
}
#litecoin-option:hover {
    background-color: var(--litecoin-color);
}
#currency-dropdown-with-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    margin: calc(((0.5vh + 0.5vw) / 2) + 0.5em) calc(((0.5vh + 0.5vw) / 2) + 0.5em) 0;
    background-color: var(--almost-white);
    box-shadow: var(--blue-grey) 0 0 calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    border-radius: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
}
#shares-div, #wallet-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.currency-input-with-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    margin: calc(((0.5vh + 0.5vw) / 2) + 0.5em) 0;
    background-color: var(--almost-white);
    box-shadow: var(--blue-grey) 0 0 calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    border-radius: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
}
#your-currencies-header-with-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#your-currencies-header-div {
    margin: 0 calc(((0.5vh + 0.5vw) / 2) + 0.5em) 0 0;
    padding: calc(((1vh + 1vw) / 2) + 1em);
    border-radius: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--air-blue);
}
#your-currencies-header-text {
    font-size: calc(((2.25vh + 2.25vw) / 2) + 6px);
}
#your-currency-image {
    width: calc(((2vh + 2vw) / 2) + 1em);
    height: calc(((2vh + 2vw) / 2) + 1em);
    padding: 0;
    margin: 0 calc(((0.5vh + 0.5vw) / 2) + 0.5em) 0 0;
}
#chosen-currency-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: calc(((0.75vh + 0.75vw) / 2) + 0.75em) 0 0 0;
}
#your-currencies-list-section {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    margin: calc(((0.5vh + 0.5vw) / 2) + 0.5em) calc(((0.5vh + 0.5vw) / 2) + 0.5em) 0;
    background-color: var(--almost-white);
    box-shadow: var(--blue-grey) calc(((0.25vh + 0.25vw) / 2) + 0.25em)
                                 calc(((0.25vh + 0.25vw) / 2) + 0.25em) 0 0;
    border-radius: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    border: var(--blue-grey) solid var(--thin-border);
}
.your-currency-image {
    width:  calc(((2vh + 2vw) / 2) + 2em);
    height: calc(((2vh + 2vw) / 2) + 2em);
    padding: 0;
    margin: 0;
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    box-shadow: var(--blue-grey) calc(((0.25vh + 0.25vw) / 2) + 0.25em)
                                 calc(((0.25vh + 0.25vw) / 2) + 0.25em) 0 0;
    /*margin: 0 calc(((0.5vh + 0.5vw) / 2) + 0.5em) 0 0;*/
}
.your-currency-image-div {
    display: flex;
    box-shadow: var(--morning-frost-blue) 0 0 calc(((0.25vh + 0.25vw) / 2) + 0.25em)
                                              calc(((0.25vh + 0.25vw) / 2) + 0.25em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);


}
.currency-image-name-code-div {

}
.your-currency-info-div {
    background-color: var(--pure-white);
    padding: calc(((0.25vh + 0.25vw) / 2) + 0.15em) calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
}
.your-currency-info-div div {
    margin: 0 calc(((0.5vh + 0.5vw) / 2) + 0.5em);
}
.your-currency-info-text {
    color: var(--blue-grey);
}
#shares-wallet-seperator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /*padding: calc(((0.5vh + 0.5vw) / 2) + 0.5em);*/
    margin: calc(((0.5vh + 0.5vw) / 2) + 0.5em) 0;
}
.currency-input-subtext {
    /*font-size: calc(((0.75vh + 0.75vw) / 2) + 0.75em);*/
    color: var(--blue-grey);
    font-style: italic;
}
#shares-wallet-with-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#add-button {
    margin: calc(((0.5vh + 0.5vw) / 2) + 0.5em) calc(((1vh + 1vw) / 2) + 1em);
}
#add-currency-buttons-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#add-currency-div {
    display: none;
}
#selected-currency-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#selected-currency-text {
    margin: 0;
    padding: 0;
}
#popup-div {
    display: none;
    justify-content: center;
    align-items: center;
}

#empty-portfolio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#empty-portfolio-title-div {
    padding: calc(((1vh + 1vw) / 2) + 1em);
    margin: calc(((1vh + 1vw) / 2) + 1em) 0;
    background-color: var(--muted-blue);
    border-radius: calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    display: flex;
    justify-content: center;
    align-items: center;
}
#empty-portfolio-title-text {
    color: var(--pure-white);
}