#user-info-section {
    margin: calc(((5vh + 5vw) / 2) + 2em) 0 0 0;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#tab-selectors-div {
    display: flex;
    align-items: center;
    justify-content: start;
    /*margin: 0 calc(((14vh + 14vw) / 2) + 5em) 0 0;*/
    width: 50%;
}
.user-info-tab-selector-tab {
    border-top: black calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid;
    border-left: black calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid;
    border-right: black calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid;
    border-radius: calc(((1vh + 1vw) / 2) + 1em) calc(((1vh + 1vw) / 2) + 1em) 0 0;
    padding: 0 calc(((1vh + 1vw) / 2) + 1em);
    margin: 0 calc(((1vh + 1vw) / 2) + 0.2em) 0 0;
    box-shadow: var(--blue-grey) calc(((0.25vh + 0.25vw) / 2) + 0.25em) calc((((0.25vh + 0.25vw) / 2) + 0.25em) * -1) 0 0;
    z-index: 0;
    background-color: var(--almost-white);
    transition: box-shadow, margin-top, margin-left, padding-bottom, 0.3s;
    width: calc(((5vh + 5vw) / 2) + 1.5em);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-info-tab-selector-tab h5 {
    margin: calc(((0.25vh + 0.25vw) / 2) + 0.25em) 0 0 0;
    height: calc(((2vh + 2vw) / 2) + 0.7em);
}
#login-tab-selector {
    margin-left: calc(((0.35vh + 0.35vw) / 2) + 0.35em);
}
.user-info-tab-selector-tab:hover {
    background-color: var(--almost-white);
    cursor: pointer;
    box-shadow: var(--blue-grey) calc(((0.35vh + 0.35vw) / 2) + 0.35em) calc((((0.35vh + 0.35vw) / 2) + 0.35em) * -1) 0 0;
}
.user-info-tab-selector-tab:active {
    box-shadow: none;
    margin-top: calc((((0.35vh + 0.35vw) / 2) + 0.35em) * -1);
    margin-left: calc(((0.35vh + 0.35vw) / 2) + 0.35em);
    padding-bottom: calc(((0.35vh + 0.35vw) / 2) + 0.35em);
}
#login-tab-selector:active {
    margin-left: calc(((0.65vh + 0.65vw) / 2) + 0.65em);
}
#user-info-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 0;
    margin: 0;
}
.prompt-popup-div {
    display: none;
}
#terms-agree-text {
    text-decoration: underline;
    margin: calc(((0.25vh + 0.25vw) / 2) + 0.25em) 0;
    height: calc(((2vh + 2vw) / 2) + 0.7em);
}
#user-content-container {
    border: calc(((0.05vh + 0.05vw) / 2) + 0.05em) solid black;
    width: 60%;
    margin: calc((((0.05vh + 0.05vw) / 2) + 0.05em) * -1) 0 calc(((5vh + 5vw) / 2) + 2em) 0;
    padding: 0 0 calc(((2vh + 2vw) / 2) + 1em) 0;
    border-radius: calc(((1vh + 1vw) / 2) + 1em);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--blue-grey) calc(((0.35vh + 0.35vw) / 2) + 0.35em) calc((((0.35vh + 0.35vw) / 2) + 0.35em) * -1) 0 0;
    transition: box-shadow, 0.3s;
}
#user-content-container:hover {
    box-shadow: var(--blue-grey) calc(((0.45vh + 0.45vw) / 2) + 0.45em) calc((((0.45vh + 0.45vw) / 2) + 0.45em) * -1) 0 0;
}
.input-with-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0;
}