// page-title-stripe.component.scss
@use "../../../styles/globals" as *;
@use "../../../styles/gradients/global_gradient_placeholders" as *;

page-title-stripe {
    width: 100%;
    content-stripe {
        background-image: linear-gradient(to right, $blue-gray  50%, $muted-blue);
        box-shadow: $eighth-percent 0 $half-percent add-alpha(black, 0.4);
        padding: simple-calc(3.25, 0.15) 0;
        margin: simple-calc(1, 0.5) 0;
        ss-title {
            @extend %signature-brand-gradient-text;
        }
        .page-stripe-text-div {
            width: 100%;
            @include flex(center, center, column);
        }
    }
}