<!-- auth-console-signup-section.component.html -->
<ng-container>
    <auth-input [authInputType]="AuthInputType.USERNAME" (inputChange)="updateUsername($event)"/>
    <auth-input [authInputType]="AuthInputType.EMAIL" (inputChange)="updateEmail($event)"/>
    <auth-input [authInputType]="AuthInputType.PASSWORD" (inputChange)="updatePassword($event)"/>
    <auth-input [authInputType]="AuthInputType.CONFIRM_PASSWORD" (inputChange)="updateConfirmPassword($event)"/>
    <auth-input [authInputType]="AuthInputType.AGREED_TERMS" (inputChange)="updateAgreedTerms($event)"/>
    <ss-button (buttonClick)="emitFields()" [size]="ElementSize.MEDIUM" [text]="ButtonText.SIGN_UP"/>
</ng-container>