legacy-peer-deps=true
fund=false
audit=false
always-auth=true
@theoliverlear:registry=https://npm.pkg.github.com
@sigwarth-software:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GH_TOKEN}