// nav-bar.component.scss

//=================================-Imports-==================================
@use "../../../../styles/globals" as *;

$nav-bar-height: calc-size(6, 3, 2);

nav-bar {
    @include flex(center, center, column);
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: $almost-white;
    box-shadow: 0 0 simple-calc(0.1, 0.5) 0 add-alpha($charcoal, 0.5);
    //border-bottom: $very-thin-border solid $muted-blue-half-opacity;
    height: $nav-bar-height;
    nav {
        @include flex(center, center, row);
        @extend %fill-container;
        .nav-items-div {
            @include flex(space-around, center, row);
            width: 32%;
            nav-bar-item {
                scale: 1.3;
                //margin-right: $two-percent;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
@media screen and (min-width: 1000px) {
    nav-bar {
        nav {
            .nav-items-div {
                //width: 41%;
            }
        }
    }
}