// nav-bar.component.scss

//=================================-Imports-==================================
@use "../../../../styles/globals" as *;

@import "../../../app/app.component";

$nav-bar-height: calc-size(6, 3, 2);

nav-bar {
    @include flex(center, center, column);
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: $almost-white;
    box-shadow: 0 0 simple-calc(1, 0.5) 0 add-alpha($charcoal, 0.5);
    //border-bottom: $very-thin-border solid $muted-blue-half-opacity;
    height: $nav-bar-height;
    nav {
        @include flex(center, center, row);
        @extend %fill-container;
        .nav-items-div {
            @include flex(space-between, center, row);
            width: 48%;
        }

    }
}