<!-- trade-checkout.component.html -->
<ng-container>
    <div class="left-column">
        <trade-currency [selectedCurrency]="displayCurrency"/>
    </div>
    <div class="center-column">
            <trade-checkout-details [displayCurrency]="displayCurrency"/>
        @if (showCheckoutPanel) {
            <trade-checkout-confirm-panel [numDollars]="numDollars"
                                          [numShares]="numShares"
                                          [displayCurrency]="displayCurrency"/>
        }
    </div>
</ng-container>