<!-- trade-checkout.component.html -->
<ng-container>
    <div class="left-column">
        <trade-currency [selectedCurrency]="displayCurrency"/>
    </div>
    <div class="center-column">
<!--        TODO: Make div a component.-->
        <div class="checkout-details-div">
            <div class="checkout-input">
                <buy-type-selector (buyTypeSelectedEvent)="setBuyType($event)"/>
                <ss-input [placeholder]="getPlaceholderText()"
                          [inputType]="InputType.NUMBER"
                          (inputEvent)="setFromInput($event)"/>
            </div>
            <div class="checkout-results">
                <div class="you-pay-div result-div">
                    <ss-title [tagType]="TagType.H5" [text]="'You Pay: '"/>
                    <ss-title [tagType]="TagType.H5" [text]="getYouPayText()"/>
                </div>
                <div class="you-get-div result-div">
                    <ss-title [tagType]="TagType.H5" [text]="'You Get: '"/>
                    <ss-title [tagType]="TagType.H5" [text]="getYouGetText()"/>
                </div>
                @if (hasVendorFee()) {
                    <div class="fee-div result-div">
                        <ss-title [tagType]="TagType.H5" [text]="'Vendor Fee: '"/>
                        <ss-title [tagType]="TagType.H5" [text]="getVendorFee()"/>
                    </div>
                }
            </div>
            <ss-button [text]="'Checkout'" [size]="ElementSize.MEDIUM"/>
        </div>
        @if (showCheckoutPanel) {
            <trade-checkout-confirm-panel [numDollars]="numDollars"
                                          [numShares]="numShares"
                                          [displayCurrency]="displayCurrency"/>
        }
    </div>
</ng-container>