<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Crypto Trader</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/home-style.css"
          th:href="@{/style/home-style.css}">
    <link rel="icon" href="../static/images/favicon/crypto_trader_logo_cropped.ico"
          th:href="@{/images/favicon/crypto_trader_logo_cropped.ico}">
</head>
<!-- TODO: Turn the following nav bar into a Thymeleaf template. -->
<body>
<!----------------------------------Nav-Bar---------------------------------->
<header>
    <nav>
        <div id="nav-div">
            <!--------------------Nav-To-Home-------------------------------->
            <div class="nav-item">
                <a href="/" class="link-no-style">
                    <div class="nav-bar-item-container">
                        <h5>Home</h5>
                    </div>
                </a>
            </div>
            <!-----------------Nav-To-Portfolio------------------------------>
            <div class="nav-item">
                <a href="/portfolio/" class="link-no-style">
                    <div class="nav-bar-item-container">
                        <h5>Portfolio</h5>
                    </div>
                </a>
            </div>
            <!-------------------Nav-To-Trader------------------------------->
            <div class="nav-item">
                <a href="/trader/" class="link-no-style">
                    <div class="nav-bar-item-container">
                        <h5>Trader</h5>
                    </div>
                </a>
            </div>
        </div>
        <div>
            <!------------------Nav-To-Account------------------------------->
            <div id="account-image-container">
                <a href="/user/" class="link-no-style">
                    <img id="default-avatar-image"
                         src="../static/images/default_avatar.png"
                         th:src="@{/images/default_avatar.png}" alt="user avatar">
                </a>
                <div id="logout-button-div">
                    <h5 id="logout-button-text">Logout</h5>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <section id="intro-stripe-section">
        <div class="stripe-div-partition">
            <div id="intro-text-container">
                <p>
                    Welcome to the Crypto Trader application! This application
                    is designed to help you trade your favorite
                    cryptocurrencies. The best part is that you don't have to
                    do a single thing. Our application will do all the trading
                    for you. Our program is written to only trade profitably.
                    Often times in the market, speed and timing is all.
                    Luckily, these are two things that our computers excel at
                    We leverage that to make you money. We make the right
                    trades, at the right time, every time.
                </p>
                <a href="/get-started" class="link-no-style">
                    <div id="get-started-button" class="general-button">
                        <h3>Get Started</h3>
                    </div>
                </a>
            </div>
        </div>
        <div id="title-and-motto-div" class="stripe-div-partition">
            <h1>Crypto Trader</h1>
            <div>
                <h5 class="subtitle-text" id="motto-text">
                    Right trades, at the right time, every time.
                </h5>
            </div>
        </div>
    </section>
    <section id="functionality-section">
        <div id="combined-functionality-and-text">
            <div id="functionalities-div">
                <div class="functionality-text-container">
                    <h3>View Earnings</h3>
                </div>
                <div class="functionality-text-container">
                    <h3>Detailed Statistics</h3>
                </div>
                <div class="functionality-text-container">
                    <h3>Live Updates</h3>
                </div>
            </div>
            <div id="chart-explain-div">
                <p>
                    You will get a real-time view of your earnings. The live
                    chart will show you how much money you have made. You can
                    see when your dedicated trader has bought or sold an
                    asset.
                </p>
                <div id="chart-container">
                    <canvas id="chart-div">Chart did not render.</canvas>
                </div>
            </div>
        </div>
    </section>
    <!--
    <section>
        <h3>Benefits of Crypto Trader</h3>
        <div>
            PROJECTIONS, STATISTICS, AND USER STORIES
        </div>
    </section>
    -->
    <div id="premium-title-div">
        <div id="premium-title-text-div" class="header-section-bubble">
            <h3 id="premium-title-text" class="header-section-text">Premium</h3>
        </div>
    </div>
    <section id="features-section">
        <div id="features-combined-div">
            <div id="features-explained-div">
                <p>
                    At Crypto Trader, we believe everyone should access to an
                    automatic trader. We offer that with our free tier. We
                    also have options for those who want more. Our premium
                    tier offers priority trading and faster trading software.
                    A single asset's price is checked every 5 seconds in the
                    free tier. In the premium tier, the price is checked every
                    1 second. This means that you can make trades faster, and
                    that can mean more money. Our premium tier also offers
                    priority which means that your trades are performed before
                    the free tier. Instead of waiting in a queue behind other
                    users, your trades jump to the front of the line. You get
                    to secure the best deals at the best times with Crypto
                    Trader Premium.
                </p>
                <p>
                    While premium users on average perform better than free
                    users, we offer both tiers to cover the cost of running
                    the application. We want to make sure that everyone has
                    access to a trader, and so we offer a higher performing
                    tier which supports both the premium user and the rest of
                    our free users.
                </p>
            </div>
            <div id="feature-table-div">
                <div id="feature-table">
                    <div class="feature-row" id="feature-table-top-row">
                        <div class="feature-column feature-table-first-column">
                            <h4></h4>
                        </div>
                        <div class="feature-column">
                            <h4>Free</h4>
                        </div>
                        <div class="feature-column">
                            <h4>Premium</h4>
                        </div>
                    </div>
                    <div class="feature-row">
                        <div class="feature-column feature-table-first-column">
                            <h5>Speed</h5>
                        </div>
                        <div class="feature-column">
                            <h5>5 Seconds</h5>
                        </div>
                        <div class="feature-column">
                            <h5>1 Second</h5>
                        </div>
                    </div>
                    <div class="feature-row">
                        <div class="feature-column feature-table-first-column">
                            <h5>Priority</h5>
                        </div>
                        <div class="feature-column">
                            <h5>✘</h5>
                        </div>
                        <div class="feature-column">
                            <h5>✔</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="integrations-section">
        <div class="header-section-bubble">
            <h3 class="header-section-text">Integrations</h3>
        </div>
        <div id="integrations-div">
            <img class="supported-platform-image"
                 src="../static/images/logo/coinbase_logo.svg"
                 th:src="@{/images/logo/coinbase_logo.svg}" alt="coinbase logo">
            <p id="integrations-text">
                We currently are working on integrations with Coinbase and
                Binance. Since they allow for API trading, we can implement our
                trading software to work with their platforms. This means that
                you can simply link your account and let our software do the money
                making for you. We are working on adding more platforms, so stay
                tuned for more updates.
            </p>
            <img class="supported-platform-image"
                 src="../static/images/logo/binance_logo.png"
                 th:src="@{/images/logo/binance_logo.png}" alt="binance logo">
        </div>
    </section>
    <section>

    </section>
</main>
<!-- TODO: Make the footer a Thymeleaf template. -->
<footer>
    <section id="footer-content">
        <div>
            <p>&copy; 2024 Sigwarth Software. All rights reserved.</p>
        </div>
    </section>
</footer>
<script src="../static/script/bundle.js"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>