<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio | Crypto Trader</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/portfolio-style.css"
          th:href="@{/style/portfolio-style.css}">
    <link rel="icon" href="../static/images/favicon/crypto_trader_logo_cropped.ico"
          th:href="@{/images/favicon/crypto_trader_logo_cropped.ico}">
</head>
<body>
<!----------------------------------Nav-Bar---------------------------------->
<header>
    <nav>
        <div id="nav-div">
            <!--------------------Nav-To-Home-------------------------------->
            <div class="nav-item">
                <a href="/" class="link-no-style">
                    <div class="nav-bar-item-container">
                        <h5>Home</h5>
                    </div>
                </a>
            </div>
            <!-----------------Nav-To-Portfolio------------------------------>
            <div class="nav-item">
                <a href="/portfolio/" class="link-no-style">
                    <div class="nav-bar-item-container">
                        <h5>Portfolio</h5>
                    </div>
                </a>
            </div>
            <!-------------------Nav-To-Trader------------------------------->
            <div class="nav-item">
                <a href="/trader/" class="link-no-style">
                    <div class="nav-bar-item-container">
                        <h5>Trader</h5>
                    </div>
                </a>
            </div>
        </div>
        <div>
            <!------------------Nav-To-Account------------------------------->
            <div id="account-image-container">
                <a href="/user/" class="link-no-style">
                    <img id="default-avatar-image"
                         src="../static/images/default_avatar.png"
                         th:src="@{/images/default_avatar.png}" alt="user avatar">
                </a>
                <div id="logout-button-div">
                    <h5 id="logout-button-text">Logout</h5>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <section id="portfolio-builder-section">
        <div id="portfolio-builder-header" class="stripe-div-partition">
            <div>
                <h2>Portfolio Builder</h2>
            </div>
            <div>
                <h5 class="subtitle-text">
                    Select the currencies you would like to have traded.
                </h5>
            </div>
        </div>
        <div id="portfolio-builder-div">
            <div>
                <div id="your-currencies-div">
                    <div id="your-currencies-header-with-button">
                        <div id="your-currencies-header-div"
                             class="portfolio-builder-header">
                            <h4 id="your-currencies-header-text">Your Currencies</h4>
                        </div>
                        <div class="small-button" id="add-currency-button">
                            <h5 class="small-button-text">Add Currency</h5>
                        </div>
                    </div>
                </div>
                <!-- Add HR divider here -->
                <div id="add-currency-div" class="portfolio-builder-list">
                    <!----------Currency-Dropdown-List----------------------->
                    <div id="currency-dropdown-with-selection">
                        <div class="portfolio-builder-item">
                            <div id="currency-dropdown-list"
                                 class="general-dropdown-list">
                                <div id="currency-dropdown"
                                     class="dropdown-item dropdown-with-caret">
                                    <h5 id="currency-selection-text">
                                        Select Currency
                                    </h5>
                                    <div id="currency-dropdown-caret"
                                         class="dropdown-caret">
                                        <img id="currency-dropdown-caret-image"
                                             src="../static/images/down_caret.svg"
                                             th:src="@{/images/down_caret.svg}"
                                             alt="dropdown caret">
                                    </div>
                                </div>
                                <div class="dropdown-selection hide"
                                     id="currency-dropdown-selection">
                                    <div class="dropdown-option currency-dropdown-option"
                                         id="bitcoin-option">
                                        <img class="currency-option-image"
                                             src="../static/images/logo/currency/bitcoin_logo.png"
                                             th:src="@{/images/logo/currency/bitcoin_logo.png}"
                                             alt="bitcoin logo">
                                        <h5 class="dropdown-option-text currency-option-text">
                                            Bitcoin
                                        </h5>
                                    </div>
                                    <div class="dropdown-option currency-dropdown-option"
                                         id="ethereum-option">
                                        <img class="currency-option-image"
                                             src="../static/images/logo/currency/ethereum_logo.png"
                                             th:src="@{/images/logo/currency/ethereum_logo.png}"
                                             alt="ethereum logo">
                                        <h5 class="dropdown-option-text currency-option-text">
                                            Ethereum
                                        </h5>
                                    </div>
                                    <div class="dropdown-option round-bottom currency-dropdown-option"
                                         id="litecoin-option">
                                        <img class="currency-option-image"
                                             src="../static/images/logo/currency/litecoin_logo.png"
                                             th:src="@{/images/logo/currency/litecoin_logo.png}"
                                             alt="litecoin logo">
                                        <h5 class="dropdown-option-text currency-option-text">
                                            Litecoin
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <!---End-Currency-Dropdown-List------------------>
                            <div id="chosen-currency-div">
                                <img id="your-currency-image"
                                     src="../static/images/default_currency_icon.png"
                                     th:src="@{/images/default_currency_icon.png}"
                                     alt="chosen currency">
                                <div id="selected-currency-div">
                                    <h5 id="selected-currency-text">None Selected</h5>
                                </div>
                            </div>
                        </div>
                        <div id="shares-wallet-with-button">
                            <div id="shares-div">
                                <div class="currency-input-with-title">
                                    <div>
                                        <h5>Shares: </h5>
                                    </div>
                                    <div>
                                        <input min="0" type="number" id="shares-input">
                                    </div>
                                </div>
                                <div>
                                    <p class="currency-input-subtext">
                                        How many shares you own.
                                    </p>
                                </div>
                            </div>
                            <div id="shares-wallet-seperator">
                                <h5 class="thin-text">Or</h5>
                            </div>
                            <div id="wallet-div">
                                <div class="currency-input-with-title">
                                    <div>
                                        <div>
                                            <h5>Wallet <span class="italic-span">$</span>: </h5>
                                        </div>
                                    </div>
                                    <div>
                                        <input min="0" type="number" id="wallet-input">
                                    </div>
                                </div>
                                <div>
                                    <p class="currency-input-subtext">
                                        How much you would like to invest.
                                    </p>
                                </div>
                            </div>
                            <div id="popup-div">
                                <p id="popup-text">
                                    Please fill out either the shares or wallet field.
                                </p>
                            </div>
                            <div id="add-currency-buttons-div">
                                <div class="small-button" id="add-button">
                                    <h5 class="small-button-text">Add</h5>
                                </div>
                                <div class="small-button" id="cancel-button">
                                    <h5 class="small-button-text">Cancel</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="empty-portfolio-section">
                <div id="empty-portfolio-title-div">
                    <h4 id="empty-portfolio-title-text">Your portfolio is empty.</h4>
                </div>
            </section>
            <section id="performance-section">

            </section>
            <section id="your-currencies-list-section">
                <!--
                <div class="simple-space-inline-div">
                    <div class="simple-space-inline-div">
                        <div class="currency-image-name-code-div simple-space-inline-div your-currency-info-div">
                            <div class="your-currency-image-div">
                                <img class="your-currency-image"
                                     src="../static/images/logo/currency/bitcoin_logo.png"
                                     th:src="@{/images/logo/currency/bitcoin_logo.png}"
                                     alt="bitcoin logo">
                            </div>
                            <div>
                                <h5 class="your-currency-info-text">
                                    <span class="your-currency-info-name-text">Bitcoin</span> -
                                    <span class="your-currency-info-code-text">BTC</span>
                                </h5>
                            </div>
                        </div>
                        <div class="simple-space-inline-div your-currency-info-div">
                            <div>
                                <h6 class="your-currency-info-text">
                                    Shares: <span class="your-currency-info-shares-text">0.0</span>
                                </h6>
                            </div>
                            <div>
                                <h6 class="your-currency-info-text">
                                    Wallet: $<span class="your-currency-info-wallet-text">0.00</span>
                                </h6>
                            </div>
                        </div>
                        <div class="simple-space-inline-div your-currency-info-div">
                            <div>
                                <h6 class="your-currency-info-text">
                                    Total Value: $<span class="your-currency-info-total-text">0.00</span>
                                </h6>
                            </div>
                        </div>
                        <div class="simple-space-inline-div your-currency-info-div">
                            <div>
                                <h6 class="your-currency-info-text">
                                    All Time Profit: $<span class="your-currency-info-profit-text">0.00</span>
                                </h6>
                            </div>
                            <div class="small-button">
                                <h6 class="small-button-text">As Percent</h6>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                -->
            </section>
        </div>
    </section>
</main>
<footer>
    <section id="footer-content">
        <div>
            <p>&copy; 2024 Sigwarth Software. All rights reserved.</p>
        </div>
    </section>
</footer>
<script src="../static/script/globalScript.js"
        type="module"
        th:src="@{/script/globalScript.js}"></script>
<script src="../static/script/portfolioScript.js"
        type="module"
        th:src="@{/script/portfolioScript.js}"></script>
</body>
</html>