<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio | Crypto Trader</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/portfolio-style.css"
          th:href="@{/style/portfolio-style.css}">
</head>
<body>
<header>
    <nav>
        <div id="nav-div">
            <div class="nav-item">
                <a href="/" class="link-no-style">
                    <div class="nav-bar-item-container">
                        <h5>Home</h5>
                    </div>
                </a>
            </div>
            <div class="nav-item">
                <div class="nav-bar-item-container">
                    <h5>Portfolio</h5>
                </div>
            </div>
            <div class="nav-item">
                <div class="nav-bar-item-container">
                    <h5>Trader</h5>
                </div>
            </div>
        </div>
        <div>
            <a href="/user/" class="link-no-style">
                <div id="account-image-container">
                    <img id="default-avatar-image"
                         src="../static/images/default_avatar.png"
                         th:src="@{/images/default_avatar.png}" alt="user avatar">
                </div>
            </a>
        </div>
    </nav>
</header>
<main>
    <section id="portfolio-builder-section">
        <div id="portfolio-builder-header" class="stripe-div-partition">
            <div>
                <h2>Portfolio Builder</h2>
            </div>
            <div>
                <h5 class="subtitle-text">
                    Select the currencies you would like to have traded.
                </h5>
            </div>
        </div>
        <div id="portfolio-builder-div">
            <div>
                <div id="your-currencies-div">
                    <div id="your-currencies-header-with-button">
                        <div id="your-currencies-header-div"
                             class="portfolio-builder-header">
                            <h4 id="your-currencies-header-text">Your Currencies</h4>
                        </div>
                        <div class="small-button" id="add-currency-button">
                            <h5 class="small-button-text">Add Currency</h5>
                        </div>
                    </div>
                </div>
                <div id="your-currencies-list" class="portfolio-builder-list">
                    <!----------Currency-Dropdown-List----------------------->
                    <div id="currency-dropdown-with-selection">
                        <div class="portfolio-builder-item">
                            <div id="currency-dropdown-list"
                                 class="general-dropdown-list">
                                <div id="currency-dropdown"
                                     class="dropdown-item dropdown-with-caret">
                                    <h5 id="currency-selection-text">
                                        Select Currency
                                    </h5>
                                    <div id="currency-dropdown-caret"
                                         class="dropdown-caret">
                                        <img id="currency-dropdown-caret-image"
                                             src="../static/images/down_caret.svg"
                                             alt="dropdown caret">
                                    </div>
                                </div>
                                <div class="dropdown-selection hide"
                                     id="currency-dropdown-selection">
                                    <div class="dropdown-option currency-dropdown-option"
                                         id="bitcoin-option">
                                        <img class="currency-option-image"
                                             src="../static/images/logo/bitcoin_logo.png"
                                             alt="bitcoin logo">
                                        <h5 class="dropdown-option-text currency-option-text">
                                            Bitcoin
                                        </h5>
                                    </div>
                                    <div class="dropdown-option currency-dropdown-option"
                                         id="ethereum-option">
                                        <img class="currency-option-image"
                                             src="../static/images/logo/ethereum_logo.png"
                                             alt="ethereum logo">
                                        <h5 class="dropdown-option-text currency-option-text">
                                            Ethereum
                                        </h5>
                                    </div>
                                    <div class="dropdown-option round-bottom currency-dropdown-option"
                                         id="litecoin-option">
                                        <img class="currency-option-image"
                                             src="../static/images/logo/litecoin_logo.png"
                                             alt="litecoin logo">
                                        <h5 class="dropdown-option-text currency-option-text">
                                            Litecoin
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <!---End-Currency-Dropdown-List------------------>
                            <div id="chosen-currency-div">
                                <img id="your-currency-image"
                                     src="../static/images/default_currency_icon.png"
                                     alt="chosen currency">
                                <div>
                                    <h5>None Selected</h5>
                                </div>
                            </div>
                        </div>
                        <div id="shares-wallet-with-button">
                            <div id="shares-div">
                                <div class="currency-input-with-title">
                                    <div>
                                        <h5>Shares: </h5>
                                    </div>
                                    <div>
                                        <input min="0" type="number" id="shares-input">
                                    </div>
                                </div>
                                <div>
                                    <p class="currency-input-subtext">
                                        How many shares you own.
                                    </p>
                                </div>
                            </div>
                            <div id="shares-wallet-seperator">
                                <h5 class="thin-text">Or</h5>
                            </div>
                            <div id="wallet-div">
                                <div class="currency-input-with-title">
                                    <div>
                                        <div>
                                            <h5>Wallet <span class="italic-span">$</span>: </h5>
                                        </div>
                                    </div>
                                    <div>
                                        <input min="0" type="number" id="wallet-input">
                                    </div>
                                </div>
                                <div>
                                    <p class="currency-input-subtext">
                                        How much you would like to invest.
                                    </p>
                                </div>
                            </div>
                            <div class="small-button" id="add-button">
                                <h5 class="small-button-text">Add</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="your-currencies-list-section">
                <div class="simple-space-inline-div">
                    <div class="simple-space-inline-div">
                        <div class="currency-image-name-code-div simple-space-inline-div your-currency-info-div">
                            <div class="your-currency-image-div">
                                <img class="your-currency-image"
                                     src="../static/images/logo/bitcoin_logo.png"
                                     alt="bitcoin logo">
                            </div>
                            <div>
                                <h5 class="your-currency-info-text">
                                    Bitcoin - BTC
                                </h5>
                            </div>
                        </div>
                        <div class="simple-space-inline-div your-currency-info-div">
                            <div>
                                <h6 class="your-currency-info-text">
                                    Shares: 0.0
                                </h6>
                            </div>
                            <div>
                                <h6 class="your-currency-info-text">
                                    Wallet: $0.0
                                </h6>
                            </div>
                        </div>
                        <div class="simple-space-inline-div your-currency-info-div">
                            <div>
                                <h6 class="your-currency-info-text">
                                    All Time Profit: $0.0
                                </h6>
                            </div>
                            <div class="small-button">
                                <h6 class="small-button-text">As Percent</h6>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </section>
        </div>

    </section>
</main>
<script src="../static/script/globalScript.js"
        th:src="@{/scripts/globalScript.js}"></script>
<script src="../static/script/portfolioScript.js"
        th:src="@{/scripts/portfolioScript.js}"></script>
</body>
</html>