<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Crypto Trader</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/user-style.css"
          th:href="@{/style/user-style.css}">
</head>
<body>
<header>
    <nav>
        <div id="nav-div">
            <div class="nav-item">
                <a href="/" class="link-no-style">
                    <div class="nav-bar-item-container">
                        <h5>Home</h5>
                    </div>
                </a>
            </div>
            <div class="nav-item">
                <div class="nav-bar-item-container">
                    <h5>Portfolio</h5>
                </div>
            </div>
            <div class="nav-item">
                <div class="nav-bar-item-container">
                    <h5>Trader</h5>
                </div>
            </div>
        </div>
        <div>
            <a href="/user/" class="link-no-style">
                <div id="account-image-container">
                    <img id="default-avatar-image"
                         src="../static/images/default_avatar.png"
                         th:src="@{/images/default_avatar.png}" alt="user avatar">
                </div>
            </a>
        </div>
    </nav>
</header>
<main>
    <!-------------------------User-Info-Section----------------------------->
    <section id="user-info-section">
        <div id="user-info-container">
            <div id="tab-selectors-div">
                <!--------------User-Info-Type------------------------------->
                <div id="signup-tab-selector"
                     class="user-info-tab-selector-tab">
                    <h5>Sign Up</h5>
                </div>
                <div id="login-tab-selector"
                     class="user-info-tab-selector-tab">
                    <h5>Login</h5>
                </div>
            </div>
            <div id="user-content-container">
                <!---------------Sign-Up-Type-------------------------------->
                <div id="signup-form-container" class="user-content-form">
                    <div class="input-with-title">
                        <h5>Username: </h5>
                        <input type="text" id="signup-username-input">
                    </div>
                    <div class="input-with-title">
                        <h5>Password: </h5>
                        <input type="password" id="signup-password-input">
                    </div>
                    <div class="input-with-title">
                        <h5>Confirm Password: </h5>
                        <input type="password" id="signup-confirm-password-input">
                    </div>
                    <div class="agree-terms-div">
                        <input type="checkbox" class="terms-agree-checkbox">
                        <p class="terms-agree-text">
                            By signing up, you agree to our terms and
                            conditions.
                        </p>
                    </div>
                    <div class="prompt-popup-div" id="signup-prompt-popup-div">
                        <p id="signup-prompt-popup-text"></p>
                    </div>
                    <div id="signup-button-container" class="general-button-inverted user-info-button">
                        <h4>Sign Up</h4>
                    </div>
                </div>
                <div id="login-form-container" class="user-content-form">
                    <div class="input-with-title">
                        <h5>Username: </h5>
                        <input type="text" id="login-username-input">
                    </div>
                    <div class="input-with-title">
                        <h5>Password: </h5>
                        <input type="password" id="login-password-input">
                    </div>
                    <div class="prompt-popup-div" id="login-prompt-popup-div">
                        <p id="login-prompt-popup-text"></p>
                    </div>
                    <div id="login-button-container" class="general-button-inverted user-info-button">
                        <h4>Login</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="../static/script/globalScript.js" type="module"
        th:src="@{/script/globalScript.js}"></script>
<script src="../static/script/userScript.js"
        type="module"
        th:src="@{/script/userScript.js}"></script>
</body>
</html>