<!-- trader.component.html -->
<ng-container>
    <page-title-stripe [pageTitle]="'Trader'" [pageSubtitle]="'Browse and Filter Your Trade History.'"/>
<!--    TODO: Put this on the left. If thin, then on top.-->
    <trader-event-filter-bar/>
    @if (!getTradeEvents() || getTradeEvents().length === 0) {
        <ss-paragraph [text]="'No trades found.'"/>
    } @else {
        @if (getTradeEvents()) {
            @for (tradeEvent of getTradeEvents(); track tradeEvent.id) {
                <trader-event-bubble [tradeEvent]="tradeEvent"/>
            }
        }
    }
</ng-container>