// asset-field-list.component.scss
@use "../../../../styles/globals" as *;

asset-field-list {
    @include flex(center, center, row);
    width: 100%;
    .field-list {
        @include flex(center, center, row);
        width: 100%;
        asset-field {
            flex: 1;
        }
    }
}