// search-input.component.scss
@use "../../../../styles/globals" as *;

search-input {
    background-color: #D0D2DC;
    min-width: $fifteen-percent;
    .search-input-field {
        @extend %softer-border-radius;
        border: $thinnest-border solid $charcoal;
        font-family: $jetbrains-mono-font;
        .input-with-icon {
            @include flex(flex-start, center, row);
            mat-icon {
                margin-right: $half-percent;
            }
            input {
                border-bottom: calc($very-thin-border * 1.5) solid $light-charcoal;
                padding: $quarter-percent;
            }
        }
    }
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    background-color: #D0D2DC;
    min-width: $fifteen-percent;
}