// auth-console.component.scss
@use "../../../../styles/globals" as *;

auth-console {
    margin: simple-calc(3, 1) 0 0 0;
    padding: 0;
    @include flex(center, center, column);
    width: $thirty-percent;
    z-index: 0;
}