<!-- trade-console.component.html -->
<ng-container>
    <div class="trade-console-title-div">
        <ss-title [tagType]="TagType.H3" [text]="currentTitle.title"/>
        @if (currentTitle.subtitle) {
            <subtitle [tagType]="TagType.P" [text]="currentTitle.subtitle"/>
        }
    </div>
    <hr/>
    <div class="console-container">
        <div class="top-row">
            @if (shouldShowCurrencySearch()) {
                <search-input [options]="currencyNames"
                              [isEnabled]="isVendorSelected"
                              (selectionChange)="updateCurrency($event)"/>
            }
            <vendor-options (vendorSelectedEvent)="setVendorOption($event)"/>
        </div>
        <div class="console-body">
            <nav-arrows/>
            @if (isCurrencySelected && displayCurrency) {
                <trade-checkout [displayCurrency]="displayCurrency"/>
            }
            @if (!isCurrencySelected || !displayCurrency) {
                <trade-checkout [displayCurrency]="{currencyName: 'Test', currencyCode: 'TEST', value: 100.5634, logoUrl: ''}"/>
            }
        </div>
    </div>
</ng-container>