<!-- trade-console.component.html -->
<ng-container>
    <div class="trade-console-title-div">
        <ss-title [tagType]="TagType.H3" [text]="currentTitle.title"/>
        @if (currentTitle.subtitle) {
            <subtitle [tagType]="TagType.P" [text]="currentTitle.subtitle"/>
        }
    </div>
    <hr/>
    <div class="console-container">
        <div class="left-column">
            @if (shouldShowCurrencySearch()) {
                <search-input [options]="currencyNames"/>
            }
        </div>
        <div class="console-body">
            <nav-arrows/>
            @if (!isVendorSelected) {
                <vendor-options (vendorSelectedEvent)="setVendorOption($event)"/>
            }
        </div>
    </div>
</ng-container>