// tier-promo-stripe.component.scss
@use "../../../../styles/globals" as *;

tier-promo-stripe {
    @include flex(center, center, row);
    background-color: lightgray;
    width: 100%;
    padding: $one-percent 0;
    margin: $one-half-percent 0;
    @extend %simple-box-shadow;
}
