@use 'global-functions' as *;
@use '@theoliverlear/styles-suite/sigwarth-variables' as *;

$pure-white: #fff;
$air-blue: #d6e6f3;
$ivory-white: #f4f0e0;
$off-white: add-alpha-opaque($alabaster-stone, 0.85, $pure-white);
$soft-grey: hsl(180deg 10% 74%);
$muted-blue: rgb(64 116 168 / 100%);
$muted-blue-half-opacity: rgb(64 116 168 / 50%);
$morning-frost-blue: hsl(210deg 45% 70%);
$blue-gray: #2c4557;
$midnight-navy: #152f41;
$sunbeam-yellow: #ffe17b;
$lime: #72e744;
$red-orange: rgb(255 102 0);
$ocean-blue: #4074a7;
$aqua: #2094f2;
$bitcoin-color: #f7931a;
$ethereum-color: #6480eb;
$litecoin-color: #375f9e;
$green-lemon: #6fc164;
$pale-mint: #c0ecd7;
$sage-green: #a4dbc2;
$teal-green: #3c9e7a;
$mint-green: #3eb98d;
$dark-teal: #1d5c57;
$jungle-green: #076a64;
$sea-blue: #26929d;
$deep-ocean: #073d44;
$turquoise-blue: #13899d;
$steel-blue: #07718d;
$dark-sea: #045267;
$crypto-logo-stops: (
    $green-lemon 9.3%,
    $pale-mint 16.1%,
    $sage-green 20.7%,
    $teal-green 31.4%,
    $mint-green 45.4%,
    $dark-teal 56.8%,
    $jungle-green 62.1%,
    $sea-blue 81.8%,
    $deep-ocean 86.8%,
    $turquoise-blue 91.1%,
    $steel-blue 94.6%,
    $dark-sea 100%
);
