//=================================-Imports-==================================
@use "global-variables" as *;
@use "global-mixins" as *;
@use "global-functions" as *;
@use "@theoliverlear/styles-suite/sigwarth-variables" as *;
//===============================-Placeholders-===============================


%nav-bar-padding-top {
    padding-top: $four-percent;
}

%transparent-text {
    -webkit-text-stroke: 2px add-alpha($charcoal, 0.1);
    color: add-alpha($pure-white, 1);
    text-decoration: underline;
}
