@import "angular/styles/global-variables";
@import "angular/styles/global-mixins";
@import "angular/styles/global-functions";
$simplest-one-percent: simplest-calc(1);

#intro-stripe-section {
    background-color: $muted-blue;
    @include flex(space-around, center, row);
    @include basic-margin-padding(0, 0);
    margin: $simplest-one-percent 0 0 0;
    p {
        color: black;
        margin: $simplest-one-percent;
    }
}
.stripe-div-partition {
    width: 50%;
    margin: simplest-calc(0.8) $simplest-one-percent;
}
#title-and-motto-div {
    text-align: center;
}
#chart-container {
    @include size(70vw, 20vh);
    @include flex(space-around, center, row);
    margin: 0 $simplest-one-percent;
    background-color: $almost-white;
}
#functionality-section {
    width: 100%;
}
#combined-functionality-and-text {
    /*margin: 0 calc(((1vh + 1vw) / 2) + 1em);*/

}
#functionalities-div {
    @include flex(space-around, center, row);
    padding: $simplest-one-percent 0;
    margin:  0;
    background-color: black;
    box-shadow: $blue-gray 0 0 $simplest-one-percent;
    .functionality-text-container {
        background-color: $midnight-navy;
        padding: $simplest-one-percent;
        border-radius: $simplest-one-percent;
        color: $almost-white;
        display: none;
    }
}

#chart-explain-div {
    @include flex(space-around, center, row);
    padding: $simplest-one-percent 0;
    margin: $simplest-one-percent 0;
    background-color: $almost-white;
    box-shadow: $blue-gray 0 0 $simplest-one-percent;
    p {
        margin: $simplest-one-percent;
    }
}

#intro-text-container {
    @include flex(space-around, center, column);
    padding: $simplest-one-percent 0;
    margin: $simplest-one-percent 0;
    background-color: $morning-frost-blue;
    box-shadow: $blue-gray 0 0 $simplest-one-percent;
    border-radius: $simplest-one-percent;
    height: simple-calc(20, 2);
}
#motto-text {
    color: #152f41;
    font-style: italic;
}
#features-section {
    @include flex(space-around, center, row);
    padding: $simplest-one-percent;
    //margin: $simplest-one-percent 0;
    background-color: $almost-white;
    border : {
        top: $very-thin-border solid $blue-gray;
        bottom: $very-thin-border solid $blue-gray;
    }
}
#premium-title-div {
    text-align: center;
    @include flex(center, center, row);
    width: 100%;
}
#premium-title-text-div {


}
#premium-title-text {
    font-style: italic;
}
.header-section-bubble {
    background-color: $morning-frost-blue;
    padding: simplest-calc(0.5) simplest-calc(3);
    border-radius: $simplest-one-percent;
}
.header-section-text {
    font-style: italic;
}
#features-combined-div {
    @include flex(space-around, center, row);
    padding: $simplest-one-percent 0;
    margin: $simplest-one-percent 0;
    background-color: $almost-white;
    width: 80%;
}

#integrations-section {
    @include flex(space-around, center, column);
}
#integrations-div {
    width: 75%;
    @include flex(space-around, center, row);
    padding: $simplest-one-percent;
    margin: $simplest-one-percent 0;
    /*background-color: cadetblue;*/
    /*background-color: #296367;*/
    background-color: $air-blue;
    box-shadow: $almost-white 0 0 $simplest-one-percent;
    border-radius: $simplest-one-percent;
}
.supported-platform-image {
    $width-height: simple-calc(7, 3);
    @include size($width-height, $width-height);
    box-shadow: $blue-gray 0 0 $simplest-one-percent;
    border-radius: 50%;
    margin: $simplest-one-percent;
}
#integrations-text {
    text-indent: $simplest-one-percent;
}
#feature-table {
    @include flex(space-around, center, column);
    border: $very-thin-border solid black;
    border-radius: $simplest-one-percent;
    margin: 0 $simplest-one-percent;
}
.feature-row {
    @include flex(space-around, center, row);
    padding-right: simplest-calc(0.75);
}
#feature-table-top-row {
    border-bottom: $very-thin-border solid black;
}
.feature-table-first-column {
    border-right: $very-thin-border solid black;
}
.feature-column {
    @include flex(space-between, center, row);
    @include size(simple-calc(8, 1), simple-calc(4, 0.5));
    padding: simplest-calc(0.5);
}
